html {
    color: #333;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 13px
}

body {
    background: #fff
}

#close {
    position: absolute;
    top: -12px;
    right: -12px;
    width: 24px;
    height: 24px;
    -webkit-border-top-left-radius: 14px;
    -webkit-border-top-right-radius: 14px;
    -webkit-border-bottom-right-radius: 14px;
    -webkit-border-bottom-left-radius: 14px;
    -moz-border-radius-topleft: 14px;
    -moz-border-radius-topright: 14px;
    -moz-border-radius-bottomright: 14px;
    -moz-border-radius-bottomleft: 14px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
    border-bottom-right-radius: 14px;
    border-bottom-left-radius: 14px;
    border: 2px solid #b2b0b1;
    cursor: pointer;
    z-index: 10011;
    background: #fff
}

#close:before,
#close:after {
    content: '';
    position: absolute;
    border-radius: 3px;
    display: block;
    height: 1px;
    width: 12px;
    background-color: #b2b0b1;
    top: 10px;
    left: 4px;
    background-size: initial;
    opacity: 1;
    transition: initial
}

#close:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    margin-top: 0
}

#close:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    margin-top: 0
}

.loading-indicator {
    z-index: 1000002
}

.main {
    margin: 0 25px 25px
}

.content {
    background: #fff;
    padding-bottom: 8px;
    border-radius: 1px
}

.header {
    text-align: center;
    overflow: hidden;
    background-color: black;
    margin: 0px 0px 20px;
}

.logo.logo-primary {
    font-size: 0;
    background: url("https://d2jxovief2a9za.cloudfront.net/VideoSource_Logo_600x400_Color_Joe.png") no-repeat 0 0;
    display: block;
    background-size: contain;
    margin: 0 auto;
    background-color: black;
    height: 75px;
}

.logo.logo-secondary {
    display: none
}

a {
    color: #5d90ce;
    -o-transition: .2s;
    -ms-transition: .2s;
    -moz-transition: .2s;
    -webkit-transition: .2s;
    transition: .2s
}

.section {
    padding-top: 18px;
    margin-top: 0
}

.section:first-of-type {
    padding-top: 0;
    box-shadow: none
}

.title {
    font-weight: 400
}

.title-primary {
    padding: 0 0 5px;
    line-height: 1.3
}

.btn-group {
    margin-bottom: 18px
}

.btn {
    color: #306baf;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.1rem
}

.btn-primary,
.btn-primary:focus {
    background: #7b7b7b;
    width: 100%;
    margin: 0 auto;
    color: #fff
}

.btn-primary:hover {
    background: #000;
    color: #fff
}

.btn-primary,
.btn-email,
.btn-facebook,
.btn-google-plus {
    margin-bottom: 8px;
    text-shadow: none;
    box-shadow: none;
    background-image: none;
    border-radius: 1px
}

.btn-email,
.btn-facebook,
.btn-google-plus,
.btn-email:hover,
.btn-facebook:hover,
.btn-google-plus:hover {
    color: #fff
}

.btn-email,
.btn-facebook,
.btn-google-plus {
    max-width: none
}

.btn-email::before,
.btn-facebook::before,
.btn-google-plus::before {
    border-right: 1px solid rgba(0, 0, 0, 0.2)
}

.btn-email {
    background: #3469ae;
    opacity: 1;
    -webkit-transition: opacity .2s;
    transition: opacity .2s
}

.btn-email:focus,
.btn-email:hover {
    background: #27528c
}

.btn-delete {
    color: #c00
}

.btn-delete:hover {
    color: #c00
}

.btn-delete:focus,
.btn-delete:hover {
    border: 1px solid #c00
}

.btn-group-create-account {
    text-align: center;
    padding: 15px 0 0
}

.btn-group-create-account .btn {
    background: #fff;
    color: #3f6dac;
    width: auto;
    margin: 0 auto;
    text-decoration: none;
    font-size: 1.1rem;
    font-weight: 100;
    border-radius: 1px
}

.btn-group-create-account .btn:hover {
    background: none;
    text-decoration: none
}

.banner.message-success .container,
.banner.message-error .container,
.banner.message-info .container {
    background-color: #fff;
    background: linear-gradient(to bottom, #fff 0, #f5f5f5 100%)
}

.banner .container {
    border-radius: 1px
}

.banner.message-success .container {
    color: #333;
    border: 2px solid green
}

.banner.message-error .container {
    color: #c00;
    border: 1px solid #e9e9e9;
    background: #f9f9f9 none
}

.banner.message-info .container {
    color: #333;
    border: 2px solid #5d90ce
}

.field {
    margin-bottom: 15px
}

.field .name {
    font-family: Helvetica, Arial, sans-serif
}

.checkbox {
    padding-left: 1.7rem
}

.checkbox .name {
    display: block;
    line-height: 1.5;
    font-size: 1rem
}

.field-tou .checkbox {
    margin: 0 auto
}

.field-tou .message-error {
    text-align: center
}

.field-error input:not([type="checkbox"]):not([type="radio"]),
.field-error input:not([type="checkbox"]):not([type="radio"]):focus,
.field-error select,
.field-error select:focus {
    border-color: #c00;
    box-shadow: none
}

.field .message-error,
.field-error .name {
    color: #c00
}

.field-error input:not([type="checkbox"]):not([type="radio"])::-webkit-input-placeholder {
    color: #999
}

.field-error input:not([type="checkbox"]):not([type="radio"])::-moz-placeholder {
    color: #999
}

.field-error input:not([type="checkbox"]):not([type="radio"]):-ms-input-placeholder {
    color: #999
}

.field-tou.field-error .name {
    color: #333
}

input:not([type="checkbox"]):not([type="radio"]),
select,
.toggle .name {
    border: 1px solid #ccc;
    box-shadow: none;
    border-radius: 1px;
    font-family: Helvetica, Arial, sans-serif;
    font-size: 1.2rem !important
}

.toggle .name {
    font-family: Helvetica, Arial, sans-serif !important;
    font-weight: 400 !important
}

.toggle .label {
    display: inline-block;
    width: 50%
}

.toggle input[type="radio"]:checked+.name {
    color: #111
}

.toggle.focused {
    border-radius: 1px;
    box-shadow: none
}

input:not([type="checkbox"]):not([type="radio"]) {
    line-height: normal
}

input:not([type="checkbox"]):not([type="radio"]):focus,
select:focus {
    border-color: #5d90ce;
    box-shadow: none
}

textarea,
input[type="text"],
input[type="submit"],
input[type="password"],
input[type="email"] {
    -webkit-appearance: none
}

input::-webkit-input-placeholder {
    color: #999;
    opacity: 1;
    font-size: 1.2rem
}

input:-moz-placeholder {
    opacity: 1;
    color: #999
}

input::-moz-placeholder {
    opacity: 1;
    color: #999
}

input:-ms-input-placeholder {
    color: #999;
    opacity: 1
}

select {
    color: #999;
    background: #fff url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMy43IiBoZWlnaHQ9IjguNyIgdmlld0JveD0iMCAwIDEzLjcgOC43Ij48cGF0aCBmaWxsPSIjOTk5IiBkPSJNNi44IDguM0wuNCAxLjggMS43LjRsNS4xIDUuMUwxMiAuNGwxLjMgMS40LTYuNSA2LjV6Ii8+PC9zdmc+) no-repeat right 0.75em center;
    background-size: .75em auto;
    padding-right: 2em;
    border-radius: 1px
}

@media all and (min-width: 0\0) and (min-resolution: 0.001dpcm) {
    select {
        padding-right: 0 !important
    }
}

@-moz-document url-prefix() {
    selectbackground-image: none;
    -moz-appearance: menulist;
    padding-right: 10px !important
}

select.ng-valid {
    color: #333
}

.checkbox input[type="checkbox"] {
    display: none
}

.checkbox input[type="checkbox"]:checked+.name::before {
    background-size: 1.1rem;
    background: #ccc url(/v2/inner/images/icon/white-check.png) no-repeat center center;
    border-color: #ccc
}

.checkbox .name::before {
    border-radius: 2px
}

.value {
    border-top: 1px solid #ccc
}

.value .action {
    text-align: right
}

.toggle .name {
    background: #f2f2f2 none;
    filter: none;
    box-shadow: none;
    color: #b2b2b2
}

.toggle label:first-child .name {
    border-radius: 1px 0 0 1px
}

.toggle label:last-child .name {
    box-shadow: none;
    border-left: 1px solid #ccc
}

.toggle input[type="radio"]:checked+.name {
    background: #fff;
    filter: none;
    box-shadow: none
}

.toggle label:first-child+label .name {
    box-shadow: none;
    border-radius: 0 1px 1px 0
}

.list-item .btn {
    margin-bottom: 18px
}

.dialog {
    background: #faf7f6
}

.block-update-text p {
    font-size: 1.1rem
}

.loading-indicator {
    background-color: #faf7f6
}

.workflow-ipas-selection .title-alert {
    color: #c00
}

.workflow-login .title-primary {
    display: none
}

.workflow-login .block-forgot-password-username {
    font-size: 1rem;
    margin-bottom: 20px
}

.workflow-login .block-forgot-password-username p a {
    font-family: Helvetica, Arial;
    font-weight: 700
}

.workflow-login .field-password {
    margin-bottom: 15px
}

.workflow-edit .block-forgot-password-username p {
    text-align: center
}

.workflow-edit .block-forgot-password-username p a {
    font-family: Helvetica, Arial;
    font-weight: 700
}

.workflow-create-profile input:not([type="checkbox"]):not([type="radio"]),
.workflow-create-profile input[type="password"],
.workflow-create-profile input[type="text"],
.workflow-create-profile select,
.workflow-create-profile .toggle .name {
    font-size: 1.2rem !important
}

.workflow-create-profile .section-submit {
    padding-top: 8px;
    box-shadow: none
}

.workflow-create-profile .section-gender-dob-lang {
    box-shadow: none;
    padding-top: 0
}

.workflow-create-profile .field-dob select {
    max-width: 100px;
    min-width: inherit !important
}

.workflow-create-profile .field-dob .birth-month {
    width: 36%
}

.workflow-create-profile .field-dob .birth-day {
    width: 29%
}

.workflow-create-profile .field-dob .birth-year {
    width: 30%
}

.workflow-launch-registration .section-communication {
    box-shadow: none;
    padding-top: 10px
}

.workflow-launch-registration .section-deprioritized-legal {
    box-shadow: none;
    padding-top: 8px
}

.workflow-launch-registration .field-tou {
    margin-bottom: 16px
}

.workflow-launch-registration .field-tou .name {
    font-family: Helvetica, Arial, sans-serif
}

.workflow-launch-registration .section-communication h3 {
    display: none
}

.workflow-launch-registration .section-login p a {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 700
}

.section-communication .checkbox span {
    font-family: Helvetica, Arial, sans-serif
}

.workflow-recover-password .btn-group,
.workflow-recover-username .btn-group {
    text-align: center
}

.workflow-recover-password .btn-group .btn,
.workflow-recover-username .btn-group .btn,
.workflow-update-display-name button:nth-of-type(2) {
    display: inline-block
}

.workflow-recover-password .btn-group .btn-secondary,
.workflow-recover-username .btn-group .btn-secondary,
.workflow-update-address .btn-group .btn-secondary,
.workflow-reauth .btn-group .btn-secondary,
.workflow-update-display-name button:nth-of-type(2) {
    line-height: 1.1rem;
    margin-bottom: 0;
    margin-top: 16px;
    width: 100%;
    outline: 0;
    border: 0 none
}

.workflow-recover-password .btn-group .btn-secondary:hover,
.workflow-recover-username .btn-group .btn-secondary:hover,
.workflow-update-address .btn-group .btn-secondary:hover,
.workflow-reauth .btn-group .btn-secondary:hover,
.workflow-update-display-name button:nth-of-type(2):hover {
    border: 0 none;
    line-height: 1.1rem
}

.btn-secondary:focus,
.btn-secondary:hover {
    outline: 0;
    text-decoration: underline
}

.workflow-update-address .btn-group .btn-primary {
    margin-top: 10px
}

.workflow-update-address .btn-group .btn-delete {
    margin-top: 14px
}

.workflow-update-profile .field-dob,
.workflow-create-profile .field-dob {
    padding-top: 8px
}

.workflow-update-profile .field-dob .name,
.workflow-create-profile .field-dob .name,
.workflow-create-profile .field-dob .message-error {
    font-size: 1rem
}

.workflow-update-profile .section-addresses h3>a {
    width: auto;
    margin: 0 auto;
    display: inline-block;
    text-decoration: none;
    font-size: 1rem;
    float: right;
    line-height: 2.8rem
}

.workflow-update-profile .section-submit {
    box-shadow: none;
    padding-top: 8px
}

.section-username-password {
    padding-top: 0;
    box-shadow: none
}

.section-gender-dob {
    padding-top: 0;
    box-shadow: none
}

.show-password-action {
    padding: .2em 0 0
}

.footer-login-link {
    font-weight: 400
}

.footer-login-link a {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 600
}

.block-customer-support-reference {
    text-align: center;
    margin-top: 20px
}

.show-password-action .checkbox {
    min-height: 2rem
}

@media screen and (min-width: 330px) {
    .checkbox {
        padding-left: 2rem
    }
}

@media screen and (min-width: 420px) {
    body {
        background: rgba(255, 255, 255, 0.9) !important
    }
    .dialog {
        background: rgba(250, 247, 246, 0.8)
    }
    .wrapper {
        font-size: 13px
    }
    .content {
        box-shadow: none;
        border: 1px solid #bbb
    }
    .main {
        margin: 0 40px 25px
    }
    .workflow-create-profile .field-dob select {
        max-width: none !important;
        min-width: inherit !important
    }
}

@media screen and (max-width: 419px) {
    #close {
        top: 10px;
        right: 10px
    }
    div#disneyid-wrapper.state-active,
    iframe#disneyid-iframe {
        background: #fff
    }
}